@import url('sborshik/vitepress/styles');

:root {
  --vp-c-brand-1: #c87a45;
  --vp-c-brand-2: #ff8a4f;
  --vp-c-brand-3: #fb681f;
  --vp-c-brand-soft: #ff82512b;

  --custom-brand-1: #3ba235;
  --custom-brand-2: #ff8a4f;
  --custom-brand-3: #ff6a07;
}

html.dark {
  --vp-c-brand-1: #ffae77;
  --vp-c-brand-2: #ff8a4f;
  --vp-c-brand-3: #fb681f;
  --vp-c-brand-soft: #ff662069;

  --custom-brand-1: #128223;
  --custom-brand-2: #fb681f;
  --custom-brand-3: #9e321a;
}
